<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/aop/spring-mvc-4.2.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.2.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<bean id="anotationBuilder" class="net.fengni.jdbc.AnnotationBuilder">
		<constructor-arg type="java.lang.String" value="net.fengni.mkeeper.server.model" />
	</bean>
	<bean id="applicationContextUtil" class="net.fengni.jdbc.util.ApplicationContextUtil"/>

	<context:component-scan base-package="net.fengni" />

	<!-- For mail settings and future properties files -->
	<bean id="defaultPropertyConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:dbconfig.properties</value>
			</list>
		</property>
	</bean>
	<!-- JNDI DataSource for J2EE environments -->
	<bean id="dataSourceRW" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.connection.driver.class}" />
		<property name="url" value="${jdbc.connection.url}" />
		<property name="username" value="${jdbc.connection.username}" />
		<property name="password" value="${jdbc.connection.password}" />
		<property name="initialSize" value="1"/>
		<property name="maxIdle" value="5"/>
		<property name="minIdle" value="1"/>
  		<property name="maxActive" value="5" />
        <property name="maxWait" value="1000" /><!--超时等待时间1s  -->
        <property name="timeBetweenEvictionRunsMillis" value="120000" />
        <property name="minEvictableIdleTimeMillis" value="360000" />
        <property name="removeAbandoned" value="true" />
        <property name="removeAbandonedTimeout" value="60" />
        <property name="poolPreparedStatements" value="true" />
        <property name="defaultAutoCommit" value="true" />
        <property name="testOnBorrow" value="true" />
        <property name="testWhileIdle" value="true" />
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean id="loginInterceptor" class="net.fengni.mkeeper.server.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>

	<!--<import resource="jsp-servlet.xml"/>-->
</beans>